* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body h1,
body h2,
body h3,
body a {
  font-family: "Rosarivo", serif;
}
body p {
  font-family: "Rosario", sans-serif;
}

body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  height: auto;
  width: 100vw;
}
.wrapper {
  height: auto;
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 4.3rem auto;
}
.navbar {
  display: grid;
  position: fixed;
  width:100%;
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: rgba(103, 93, 71, 0.9);
  color: rgb(217, 217, 217);
  min-height: 4.3rem;
  z-index: 1;
}
.navbar__logotype {
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 0.3rem;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.navbar__logotype h2 {
  font-size: 1.25rem;
  font-weight: 300;
}
.navbar__dropdown {

  display: flex;
  flex-direction: column;
}
.navbar__dropdown span {
  color: black;
}
.navbar__dropdown ul {
  padding-top: 1rem;
  min-width: 10%;
  height: 10rem;
  display: none;
  background-color: rgba(103, 93, 71, 0.8);
  position: absolute;
  z-index: 2;
}
.navbar__dropdown a {
  color: white;
  text-decoration: none;
  line-height: 3;
  cursor: pointer;
}
.navbar__dropdown a:hover {
  color: rgb(217, 217, 217);
}
.navbar__dropdown i {
  margin-top: 1rem;
}
.navbar__dropdown:hover ul {
  display: block;
  background-color: rgba(103, 93, 71, 0.8);
}
.navbar__desktop a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navbar__desktop a:hover {
  color: rgb(217, 217, 217);
}
.navbar__desktop span {
  color: black;
}
.navbar__desktop {
  display: none;
}

.topblock {
  grid-column: 1/6;
  grid-row: 2/3;
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.8);
}
video {
  max-width: 100%;
  height: auto;
}

.videotext,
.news h2 {
  font-weight: 300;
  font-size: 2.2rem;
  color: rgb(103, 93, 71);
}
.btn {
  background-color: rgb(103, 93, 71);
  border: none;
  text-decoration: none;
  padding: 0.5rem;
  width: 33%;
  max-width: 11.25rem;
  height: auto;
  margin: 1%;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.btn a,
.btn i {
  color: rgb(217, 217, 217);
  text-decoration: none;
}
.news {
  grid-column: 1/6;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.8);
}
.news p {
  padding: 1rem;
}

footer {
  grid-column: 1/6;
  grid-row: 4/5;
  margin: 0;
  padding: 0;
  background-color: rgba(217, 217, 217, 0.8);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
footer .navbar__logotype {
  padding: 1rem;
  color: rgb(103, 93, 71);
}
.contact {
  display: flex;
}
.contact a {
  color: black;
  text-decoration: none;
}
.contact div {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
.contact p {
  font-size: 0.8rem;
}

/****** ABOUT-STYLING START*****/

.about {
  grid-column: 1/6;
  grid-row: 2/3;
  min-height: 15.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(217, 217, 217, 0.8);
}
.about h1 {
  color: rgba(103, 93, 71, 0.877);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about p {
  max-width: 31.25rem;
}
.activities {
  grid-column: 1/6;
  grid-row: 3/4;
  row-gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    ". title title ."
    ". text text ."
    ". yoga hiking ."
    ". camp cooking .";
  background-color: rgba(103, 93, 71, 0.919);
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.activities h2 {
  grid-area: title;
  font-weight: 300;
}
.activities i,
.activities h2 {
  color: rgba(217, 217, 217, 0.7);
}
.activities p {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.78);
}
.activities__infotext {
  grid-area: text;
  font-weight: 500;
}
.activities__camp,
.activities__cooking,
.activities__hiking,
.activities__yoga {
  max-width: 18.75rem;
}
.activities__yoga {
  grid-area: yoga;
}
.activities__hiking {
  grid-area: hiking;
}
.activities__camp {
  grid-area: camp;
}
.activities__cooking {
  grid-area: cooking;
}
.gallery {
  grid-column: 1/6;
  grid-row: 4/5;
  background-color: rgba(217, 217, 217, 0.7);
}
.gallery__box {
  display: flex;
  align-items: center;
}
.gallery__box img {
  width: 50%;
}
.gallery__box p {
  width: 50%;
  height: auto;
  text-align: center;
}
/***booking styling***/
.bookingTop {
  grid-column: 1/6;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(./images/booking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 18.75rem;
}
.bookingTop h1 {
  background-color: rgba(217, 217, 217, 0.6);
}
.booking {
  padding: 2rem;
  background-color: rgba(217, 217, 217, 0.8);
  grid-column: 1/6;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
}
.booking h2 {
  color: rgba(103, 93, 71, 0.877);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.booking p {
  max-width: 31.25rem;
}
.booking__info > * {
  padding: 1rem;
}
.booking__block {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  width: 60%;
  min-width: 12.5rem;
  max-width: 28.125rem;
  padding: 0.5rem;
  border-radius: 2px;
}
.booking__selectbox {
  border: 1px solid rgba(103, 93, 71, 0.877);
  border-radius: 2px;
  min-width: 33%;
  max-width: 14.375;
  padding: 0.5rem;
}
.booking__selectbox span {
  color: gray;
}
.booking i {
  color: rgba(103, 93, 71, 0.877);
}
.booking .btn {
  min-width: 3.5rem;
  border-radius: 2px;
  border: none;
  color: rgba(255, 255, 255, 0.821);
}

.booking__gallery {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.gallery__container {
  padding: 1rem;
}
.gallery__container li {
  font-family: "Rosario", sans-serif;
  font-size: 0.9rem;
}
.gallery__container img {
  width: 100%;
}
.gallery__container a,
.gallery__container h3 {
  color: rgba(103, 93, 71, 0.877);
  font-weight: 300;
}

/**media query**/
@media screen and (min-width: 650px) {
  .navbar__dropdown {
    display: none;
  }
  .navbar__desktop {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-right: 33%;
  }
  .navbar__logotype {
    justify-self: baseline;
    flex-direction: row-reverse;
  }
  .navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}
